<div class="jumbotron text-center" id="inputEmail">
    <h1>Welcome to AttentionSeekr!</h1>
    <p>Sign in with your Google Account.</p>
    <!-- <a href="https://accounts.google.com/o/oauth2/auth?client_id=511736525485-68m20br7o7klprbq8oecin6fodrljc92.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/userinfo.email%20https://www.googleapis.com/auth/userinfo.profile&redirect_uri=https://lab4-bvanberl.c9users.io&response_type=token"><button id="submitbutton" ng-click="onSignIn()">LOGIN WITH GOOGLE</button></a>
-->
    <a href="#" class="btn btn-primary btn-lg" ng-click="onSignIn()">Get started with AttentionSeekr!</a>
 <!--   <button id="submitbutton" ng-click="onSignIn()">LOGIN WITH GOOGLE</button>-->
</div>



