<div class="jumbotron" id="inputEmail">
  <h1>Post on Social Media</h1>
  <h2 id="welcomeUser"></h2>
  <p>Sign in to get started.</p>
  <p><a class="btn btn-primary btn-lg" ng-click="signInFB()" id="facebookSignInLink"><img src="img/facebook_32.png"/> Log In With Facebook</a></p>
  <p><a class="btn btn-primary btn-lg" ng-click="SignInTwitter"><img src="img/twitter_32.png"/>Log In With Twitter</a></p>
  <p><a class="btn btn-primary btn-lg" ng-click="SignInLinkedIn">Log In With LinkedIn</a></p>
</div>
<div class="jumbotron">
  <div class="form-group">
    <label class="control-label" for="postInput">Text of post</label>
    <input class="form-control" id="postInput" type="text" vk_11ade="subscribed" vk_15e60="subscribed" vk_133ba="subscribed" vk_10481="subscribed" vk_18fc3="subscribed">
    <a href="#" class="btn btn-default btn-lg btn-block" ng-click="makePost()">Post to Facebook!</a>
<table class="table table-striped table-hover " id="postTable">
  <thead>
    <tr>
      <th>Post Number</th>
      <th>Post Content</th>
      <th>User Email</th>
      <th>Date & Time</th>
    </tr>
  </thead>
  <tbody id="postTableBody">
  </tbody>
</table>