body {
  margin: 0;
  background-image: url('../img/background.jpg');
  background-size: 100%;
}
#inputEmail,  #inputPassword, #mainshow {
    color: white;
    background-color: rgba(0, 0, 0, 0.3)
}

#inputEmailLabel, #inputPasswordLabel {
    color: white;
}
p {
    color: white;
}

#submitbutton{
    color : black;
}
